*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    
}
body{
    background-color:burlywood;
    padding:center;
}
table{
    align-items: center;
    justify-content: center;
}